- content_for :header_tags do
  - if user_signed_in?
    - if current_user.setting_flavour == 'vanilla'
      = preload_pack_asset 'features/compose.js'
      = preload_pack_asset 'features/home_timeline.js'
      = preload_pack_asset 'features/notifications.js'
    - else
      -# haml-lint:disable InstanceVariables
      = preload_pack_asset "flavours/#{@theme[:flavour]}/async/compose.js"
      = preload_pack_asset "flavours/#{@theme[:flavour]}/async/home_timeline.js"
      = preload_pack_asset "flavours/#{@theme[:flavour]}/async/notifications.js"
      -# haml-lint:enable InstanceVariables
    %meta{ name: 'initialPath', content: request.path }

  %meta{ name: 'applicationServerKey', content: Rails.configuration.x.vapid_public_key }

  = render_initial_state

.notranslate.app-holder#mastodon{ data: { props: Oj.dump(default_props) } }
  %noscript
    = image_pack_tag 'logo.svg', alt: 'Mastodon'

    %div
      = t('errors.noscript_html', apps_path: 'https://joinmastodon.org/apps')
